<ng-container *ngIf="thongTinTaiKhoan">
  <div class="change-password">
    <form [formGroup]="updateForm" (ngSubmit)="formSubmit$.next(true)">
      <div class="row">
        <input-form
          [name]="matKhauCu"
          placeholder="Nhập mật khẩu cũ..."
          label="Mật khẩu cũ"
          [control]="$any(updateForm.get(matKhauCu))"
          [password]="true"
          [required]="true"
        ></input-form>
        <input-form
          [name]="matKhau"
          placeholder="Nhập mật khẩu mới..."
          label="Mật khẩu mới"
          [control]="$any(updateForm.get(matKhau))"
          [password]="true"
          [required]="true"
        ></input-form>
        <input-form
          [name]="xacThucMatKhau"
          placeholder="Xác nhận mật khẩu mới..."
          label="Xác nhận mật khẩu mới"
          [control]="$any(updateForm.get(xacThucMatKhau))"
          [password]="true"
          [required]="true"
        ></input-form>
      </div>
      <div class="wrapper-btn">
        <button type="submit" class="submit" [disabled]="updateForm.invalid">
          <div class="loading" *ngIf="loading"></div>
          <span *ngIf="!loading">Thay đổi mật khẩu</span>
        </button>
      </div>
    </form>
  </div>
</ng-container>
