@import "../../../assets/scss//helpers/variables";
@import "../../../assets/scss//helpers/mixins";
.movies {
  margin-top: 50px;
  .pagination {
    padding: 0;
    margin: 0;
    @include flexBox(center, center);
    gap: 15px;
    &-item {
      @include size(30px);
    }
    &-prev,
    &-next,
    &-number {
      @include size(100%);
      @include flexBox(center, center);
      border-radius: 10px;
      color: $text4;
    }
    &-prev,
    &-next {
      &:disabled {
        opacity: 0.6;
        cursor: unset;
      }
      background: $darkStroke;
      font-size: 3.5rem;
    }
    &-number {
      font-size: 2rem;
      transition: background ease 0.3s;
    }
    &-number.active {
      background: $primaryColor40;
    }
  }

  .search {
    @include flexBox(center);
    width: fit-content;
    z-index: 10;
    font-size: 1.2rem;
    padding: 0.6em 0.8em;
    background: $darkSecondary;
    border-radius: 2.5em;
    overflow: hidden;
    margin-bottom: 20px;
    margin-left: auto;
    transition: all 0.3s ease;
    button {
      @include flexBox(center, center);
      padding: 0.6em 1.3em;
      background: $primaryColor20;
      color: $pureWhite;
      border-radius: 2em;
    }
    input {
      color: $text3;
      border: none;
      outline: none;
      font-size: 1.2em;
      width: auto;
      transition: all 0.3s ease;
    }
  }
}
