@import "../../../assets/scss/helpers/variables";
@import "../../../assets/scss/helpers/mixins";
.form-field {
  position: relative;
  margin-bottom: 30px;
}
.form-input.error {
  border-color: $errorColor;
}
.form-input {
  width: 100%;
  padding: 10px 50px 10px 20px;
  border-radius: 10px;
  outline: none;
  border: 2px solid $darkStroke;
  @include text(1.4rem, 400, $text3);
  transition: all 0.3s ease;
  &::placeholder {
    @include text(1.2rem, 400, transparent);
    transition: all 0.3s ease;
  }
  &:focus::placeholder {
    color: $text2;
  }
  &:focus + .form-label,
  &:not(:placeholder-shown) + .form-label {
    top: 0;
    left: 10px;
    background: $darkSecondary;
  }
  &:focus + .form-label sup,
  &:not(:placeholder-shown) + .form-label sup {
    opacity: 1;
    visibility: visible;
  }
}
input.form-input:-webkit-autofill,
input.form-input:-webkit-autofill:hover,
input.form-input:-webkit-autofill:focus,
input.form-input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: $text3;
  transition: background-color 5000s ease-in-out 0s;
}
.form-label.error {
  color: $errorColor;
}
.form-label {
  @include text(1.2rem, 400, $text3);
  @include absoluteCenter("top");
  left: 22px;
  padding: 0 10px;
  user-select: none;
  pointer-events: none;
  transition: all 0.3s ease;
  sup {
    opacity: 0;
    visibility: hidden;
    color: $errorColor;
    transition: all 0.3s ease;
  }
}
.form-eye {
  @include absoluteCenter("top");
  right: 22px;
}
.form-message {
  position: absolute;
  left: 10px;
  bottom: -25px;
  @include text(1.2rem, 400, $errorColor);
}

@include minWidth(991.98px) {
  .form-field {
    margin-bottom: 40px;
  }

  .form-label,
  .form-message,
  .form-input::placeholder {
    font-size: 1.6rem;
  }
  .form-input {
    padding: 15px 50px 15px 20px;
  }
}
