<section class="login">
  <form-template>
    <form [formGroup]="signInForm" (ngSubmit)="onLogin(signInForm)">
      <input-form
        [name]="taiKhoan"
        placeholder="Enter your username"
        label="Username"
        [control]="$any(signInForm.get(taiKhoan))"
        [required]="true"
      ></input-form>
      <input-form
        [name]="matKhau"
        placeholder="Enter your password"
        label="Password"
        [control]="$any(signInForm.get(matKhau))"
        [password]="true"
        [required]="true"
      ></input-form>

      <div class="form-forget">
        <a href="#!">Forgot password</a>
      </div>

      <button-submit
        [loading]="(vm$ | async)?.isLoading"
        [formGroup]="signInForm"
        (submit)="onLogin(signInForm)"
        >Sign in</button-submit
      >
    </form>
  </form-template>
</section>
