@import "../../../assets/scss/helpers/variables";
@import "../../../assets/scss/helpers/mixins";

.login {
  @include size(100vw, 100vh);
  .form-forget {
    margin-bottom: 20px;
    @include flexBox(center, flex-end);
    a {
      @include text(1.4rem, 500, $third-color, right);
      transition: all 0.2s linear;
    }
    &:hover a {
      color: #f5f5f5;
    }
  }
}

@include minWidth(991.98px) {
  .login {
    .form-forget {
      margin-bottom: 30px;
      a {
        font-size: 1.6rem;
      }
    }
  }
}
