<section class="register">
  <form-template
    heading="Get’s started."
    title="Already have an account?"
    sub="Sign in"
    link="/login"
    [grid]="true"
  >
    <form [formGroup]="registerForm" (ngSubmit)="onRegister(registerForm)">
      <div class="row">
        <div class="col-xl-6">
          <input-form
            [name]="taiKhoan"
            placeholder="Enter your username..."
            label="Username"
            [control]="$any(registerForm.get(taiKhoan))"
            [required]="true"
          ></input-form>
          <input-form
            [name]="matKhau"
            placeholder="Enter your password..."
            label="Password"
            [control]="$any(registerForm.get(matKhau))"
            [password]="true"
            [required]="true"
          ></input-form>
          <input-form
            [name]="email"
            placeholder="Enter your email..."
            label="Email"
            [control]="$any(registerForm.get(email))"
            [required]="true"
          ></input-form>
        </div>
        <div class="col-xl-6">
          <input-form
            [name]="hoTen"
            placeholder="Enter your name..."
            label="Fullname"
            [control]="$any(registerForm.get(hoTen))"
            [required]="true"
          ></input-form>
          <input-form
            [name]="soDt"
            placeholder="Enter your name..."
            label="Phone number"
            [control]="$any(registerForm.get(soDt))"
            [required]="true"
          ></input-form>
        </div>
      </div>

      <button-submit
        [formGroup]="registerForm"
        [loading]="(vm$ | async)?.isLoading"
        >Create my account</button-submit
      >
    </form>
  </form-template>
</section>
