@import "../../../assets/scss/helpers/variables";
@import "../../../assets/scss/helpers/mixins";

.form-template {
  position: relative;
  font-family: $third-font;
  padding-block: 30px;
  @include flexBox(center, center);
  .close {
    position: absolute;
    top: 40px;
    right: 20px;
    z-index: 20;
    padding: 8px 15px;
    border-radius: 5px;
    color: #eb5757;
    background: #422c32;
  }
  .form-container {
    @include size(330px, auto);
    padding: 25px 50px;
    background: $darkSecondary;
    border-radius: 15px;
    box-shadow: 0px 20px 60px -6px rgba(255, 255, 255, 0.3);
  }
  .form-heading {
    @include text(2rem, 500, $pureWhite, center);
    text-transform: capitalize;
    line-height: 28px; /* 150% */
  }
}
@include minWidth(991.98px) {
  .form-template {
    .close {
      padding: 13px 24px;
    }
    .form-container {
      @include size(460px, auto);
    }
    .form-heading {
      font-size: 3rem;
      margin-bottom: 10px;
    }
    .form-title {
      margin-bottom: 20px;
      font-size: 1.4rem;
      a {
        font-size: 1.4rem;
      }
    }
  }
}
