@import "../../../assets/scss/helpers/variables";
@import "../../../assets/scss/helpers/mixins";

.wrapper-loading {
  width: 100%;
  height: 100%;
  @include flexBox(center, center);
  background: transparent;
}
.loading {
  @include size(50px);
  position: relative;
  .loading-item {
    position: absolute;
    inset: 0;
    transform: rotate(calc(45deg * var(--value)));
    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      @include size(15px);
      border-radius: 50%;
      border: 3px solid #00aefd;
      filter: hue-rotate(calc(45deg * var(--value)));
      animation: loading 1s infinite;
      animation-delay: calc(var(--value) * 0.125s);
    }
  }
}

@keyframes loading {
  to {
    transform: scale(0);
  }
}
