@import "../../../assets/scss/helpers/variables";
@import "../../../assets/scss/helpers/mixins";
.list-btn {
  @include flexBox(center, center);
  gap: 6.596px;
  .btn-login {
    @include flexBox(center, center);
    padding: 6.596px 19.787px;
    border-radius: 10px;
    border: 1px solid $darkStroke;

    transition: all 0.3s ease;
    &:hover {
      border-color: #ff3d71;
    }
  }
}
.sub-title {
  position: relative;
  margin-block: 20px;
  @include text(1.2rem, 600, $text3, center);
  &:before,
  &:after {
    content: "";
    display: inline-block;
    @include size(40px, 1px);
    @include absoluteCenter("top");
    background: $darkStroke;
  }
  &:before {
    left: -10px;
  }
  &:after {
    right: -10px;
  }
}
@include minWidth(991.98px) {
  .list-btn {
    gap: 10px;
    .btn-login {
      width: 110px;
      padding: 10px 30px;
    }
  }
  .sub-title {
    font-size: 1.4rem;
    &:before,
    &:after {
      width: 100px;
    }
    &:before {
      left: -20px;
    }
    &:after {
      right: -20px;
    }
  }
}
