$primary-color: #d1d0cf;
$secondary-color: #bf000a;
$third-color: #ff3d71;
$white-color: #fff;
$border-color: #353945;
$title-color: #b1b5c3;
$error-color: #eb5757;
$placeholder-color: rgba(177, 181, 195, 0.5);
$yelllow-color: #fbbd61;
$bg: #141414;
$bg-form: #151519;
$bg-header: rgba(20, 20, 20, 0.5);
$bg-menu: #191919;

$primary-font: "Roboto";
$secondary-font: "Poppins";
$third-font: "Epilogue";
