$primaryColor: #1dc071;
$primaryColor20: rgba(29, 192, 113, 0.8);
$primaryColor40: rgba(29, 192, 113, 0.6);
$primaryColor60: rgba(29, 192, 113, 0.4);
$primaryColor80: rgba(29, 192, 113, 0.2);
$primaryExtra2: #f1fbf7;
$secondaryColor: #6f49fd;
$secondaryColor20: rgba(112, 73, 253, 0.8);
$secondaryColor40: rgba(112, 73, 253, 0.6);
$secondaryColor60: rgba(112, 73, 253, 0.4);
$secondaryColor80: rgba(112, 73, 253, 0.2);
$darkBG: #13131a;
$darkSecondary: #1c1c24;
$darkSoft: #24242c;
$darkStroke: #3a3a43;
$softDark: #22222c;
$red2: #422c32;
$text2: #4b5264;
$text3: #808191;
$text4: #b2b3bd;
$iconColor: #a2a2a8;
$pureWhite: #ffffff;
$whiteSoft: #fcfbff;
$graySoft: #fcfcfc;
$strockColor: #f1f1f3;
$liteBG: #fcfcfd;
$errorColor: #eb5757;

$primary-font: "Roboto", sans-serif;
$secondary-font: "Poppins", sans-serif;
$third-font: "Epilogue", sans-serif;
